.Yummydata{
   /* position:; */
   margin-left: 50px;
}
/* img{
    width:150px;
    height: 150px;
} */
.form{
    width: 80%;
    
}
/* img:hover{
    transform: scale(2.0);
    } */
    img {
        width: 100px;
        height: 100px;
        /* background: red; */
        transition: width 2s;
        transition-timing-function: linear;
      }
      
      img:hover {
        width: 300px;
        height: 200px;
        /* transform: scale(2.0); */
      }
      .logo
      {
        display: float;
        float:right;
        margin-right: 350px;
      }